.App {
background-image:url('https://images.unsplash.com/photo-1455734729978-db1ae4f687fc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c391a28620658e1a99824868a8e00566&auto=format&fit=crop&w=1950&q=80');
background-repeat: no-repeat;
background-size:cover;
background-attachment: fixed;
text-align: center;
text-decoration: none;
margin: 0;
padding: 0;
height: 100vh;
width: 100vw;
}

.Homepage{
background-image:url('https://images.unsplash.com/photo-1523325343676-4136d25d013b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=13b1c738aab8ed9cc3ddf9b905ea0e71&auto=format&fit=crop&w=1950&q=80');
background-repeat: no-repeat;
background-size:cover;
background-attachment: fixed;
text-align: center;
text-decoration: none;
margin: -80px 0px 0px 0px;
padding: 0;
height: 100vh;
width: 100vw;
}

div.Allgatherings{
text-decoration: none;
color: red;
}

.Summarypage{

}


.topnav {
  overflow: hidden;
  background-color: rgba(175, 175, 175, .7)
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: red;
  color: white;
}

h3{
  text-decoration: none;
}

.all-info-box{
  text-decoration: none;
  margin: 0 auto;
  width: 50%;
  height: auto;
  text-align: center;
  background: rgba(175, 175, 175, .7);
  border-radius: 20px;
  text-decoration: none;
}

.single-info-box{

  text-decoration: none;
  margin: 0 auto;
  margin-top: 70px;
  width: 50%;
  height: 70vh;
  text-align: center;
  background: rgba(175, 175, 175, .7);
  border-radius: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.create-info-form{
  text-decoration: none;
  margin: 1000px 0 0 0;
  width: 50%;
  height: 50vh;
  text-align: center;
  background: rgba(175, 175, 175, .7);
  border-radius: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edit-info-form{
  text-decoration: none;
  margin: 0 auto;
  width: 50%;
  height: 50vh;
  text-align: center;
  background: rgba(175, 175, 175, .7);
  border-radius: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-map{
  margin: 0 auto;
  align-items: center;
  text-align: center;
  position: relative;
}

.Createpage{

}

.create-info-form{
  text-decoration: none;
  margin: 0 auto;
  width: 50%;
  height: 70vh;
  text-align: center;
  background: rgba(175, 175, 175, .7);
  border-radius: 20px;
}


input{
  background: white;
  color: black;
  border: none;
  border: 1px soild black;
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  text-align: center;
}

.description-input{
  height: 100px !important;
  width: 400px;
}

.create-button{
background: white;
border: none;
border: 1px solid black;
padding: 10px;
margin: 3px;
border-radius:10px;
text-align: center;
}

.edit-info-form{
  text-decoration: none;
  margin: 0 auto;
  width: 50%;
  height: 70vh;
  text-align: center;
  background: rgba(175, 175, 175, .7);
  border-radius: 20px;
}

#update{
background: white;
border: none;
border: 1px solid black;
padding: 10px;
margin: 3px;
border-radius:10px;
text-align: center;
display: inline-block;
}

.edit-page-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.main-title{
/* margin: 100px 0px; */
color: yellow;
text-shadow:3px 3px black;
font-size: 100px;
margin-bottom: 0;
font-family: 'Yellowtail', cursive;
}

h1{
color: orange;
text-shadow:3px 3px black;
font-size: 65px;
margin-bottom: 0;
font-family: 'Gochi Hand', cursive;
}

h2{
/* text-shadow:2px 2px #000000;
font-weight: 600;
font-style: italic;
font-size: 30px; */
font-family: 'Ubuntu', sans-serif;

}
.navbar{
    background-color: #333;
    width: 100%;
    height: 3em;
    display: inline-block;
    text-align: left;
    margin-top: 0;
}

.navbar a {
    font-size: 20px;
    color: #f2f2f2;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.navbar a:hover {
    color: black;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}


ul {
    list-style-type: none;
    margin: 10;
    overflow: hidden;
    background-color: #333;
}
p{
  font-family: 'Ubuntu', sans-serif;
}
/* li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
} */


button{
background: white;
border: none;
border: 1px solid black;
padding: 10px;
margin: 3px;
border-radius:10px;
text-align: center;
}
